/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; 
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #ffb6c1; 
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    color: #333;
}

header h2 {
    font-size: 1.5em;
    color: #666;
}

/* Menu */
nav {
    background-color: #ffebcd; 
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.2em;
    color: #333;
}

nav ul li a:hover {
    color: #ff69b4; 
}

/* Conteúdo principal */
main {
    padding: 20px;
    text-align: left;
}

/* Rodapé */
footer {
    background-color: #ffb6c1; 
    padding: 10px;
    text-align: center;
    font-size: 0.8em;
    color: #333;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
